{% extends 'polls/index.html' %}
{% block middle2 %}
    <div class="topnav-centered">Log In</div>
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'nutrition:food-list' date %}">Nutrition Tracker</a>
        <ul class="navbar-nav mr-only">
            <li class="nav-item"><a class="nav-link" href="{% url 'register:signup' %}">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'nutrition:food-list' date %}">Home</a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Log In</button>
    </form>
{% endblock %}
{% block polls %}{% endblock %}
